Repository juntossomosmais/atomium, pull requests merged in 2023-08, with the labels that each got.

#223 fix: input validity
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/input/stories/input.args.ts
  packages/core/src/components/input/stories/input.core.stories.tsx
Labels: bug, components

#231 chore: extends stylelint.config.js from @juntossomosmais/linters
  .stylelintrc.json
  package-lock.json
  package.json
Labels: improvements

#235 feat: carousel component
  apps/docs/stories/architecture-decision-records/0012-why-have-a-carousel-with-swiper.stories.mdx
  apps/docs/stories/architecture-decision-records/0013-why-using-virtual-carousel-item.stories.mdx
  package-lock.json
  package.json
  packages/core/sonar-project.properties
  packages/core/src/components/carousel/carousel.scss
  packages/core/src/components/carousel/carousel.spec.ts
  packages/core/src/components/carousel/carousel.tsx
  packages/core/src/components/carousel/stories/carousel-item/carouse-item.args.ts
  packages/core/src/components/carousel/stories/carousel-item/carousel-item.core.stories.tsx
  packages/core/src/components/carousel/stories/carousel-item/carousel-item.react.stories.tsx
  packages/core/src/components/carousel/stories/carousel-item/carousel-item.tsx
  packages/core/src/components/carousel/stories/carousel/carouse.args.ts
  packages/core/src/components/carousel/stories/carousel/carousel.core.stories.tsx
  packages/core/src/components/carousel/stories/carousel/carousel.react.stories.tsx
  packages/core/src/components/carousel/stories/carousel/style.css
  packages/tokens/src/tokens.scss
  packages/tokens/stories/6_Misc.stories.mdx
  packages/tokens/stories/7_Elevation.stories.mdx
  packages/tokens/stories/components/Box.jsx
Labels: documentation, package/core, package/tokens, components, improvements

#240 fix(icon): use jsm cdn
  apps/docs/stories/1_4_Icons.stories.mdx
  packages/core/src/components/icon/icon.spec.ts
  packages/core/src/components/icon/icon.tsx
Labels: package/core

#239 feat: create badge component
  packages/core/src/components/badge/badge.scss
  packages/core/src/components/badge/badge.spec.ts
  packages/core/src/components/badge/badge.tsx
  packages/core/src/components/badge/stories/badge.args.ts
  packages/core/src/components/badge/stories/badge.core.stories.tsx
  packages/core/src/components/badge/stories/badge.react.stories.tsx
Labels: components

#244 fix: use line-height in badge
  packages/core/src/components/badge/badge.scss
  packages/core/src/components/badge/badge.tsx
Labels: components
