Repository juntossomosmais/atomium, pull requests merged in 2023-11, with the labels that each got.

#310 chore update dependencies
  package-lock.json
  package.json
Labels: dependencies

#312 chore: improve buildings using nx
  .github/workflows/ghpages.yml
  .github/workflows/release-and-publish-packages.yml
  apps/docs/package.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/icons/README.md
  packages/icons/package.json
  packages/react/package.json
  packages/tokens/package.json
Labels: documentation, package/core, package/icons, package/react, ci, improvements

#313 feat(icons): add custom wallet icon
  packages/core/src/icons.d.ts
  packages/icons/svg/custom/wallet-giftcard-custom.svg
Labels: package/icons, improvements

#290 feat: create custom render and pre load validations
  package-lock.json
  package.json
  packages/core/src/components/carousel/carousel.scss
  packages/core/src/components/carousel/carousel.spec.ts
  packages/core/src/components/carousel/carousel.tsx
  packages/core/src/components/carousel/stories/carousel.args.ts
  packages/core/src/components/carousel/stories/carousel.core.stories.tsx
  packages/core/src/components/carousel/stories/carousel.react.stories.tsx
  packages/core/src/components/carousel/utils/render-thumbs.spec.ts
  packages/core/src/components/carousel/utils/render-thumbs.ts
Labels: package/core, components, improvements

#316 fix(atom-select): add possibility to pass default value
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/stories/select.args.ts
  packages/core/src/components/select/stories/select.core.stories.tsx
  packages/core/src/components/select/stories/select.react.stories.tsx
Labels: package/core, components, improvements

#315 fix(core): add specificity to input border-radius class
  packages/core/src/components/input/input.scss
Labels: bug, package/react, improvements

#317 fix(core): add watch decorator for value prop
  packages/core/src/components/input/input.tsx
  packages/core/src/components/textarea/textarea.tsx
Labels: bug, package/react, improvements
