Repository juntossomosmais/atomium, pull requests merged in 2023-10, with the labels that each got.

#280 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#281 fix(core): add stop propagation to avoid button to emit event twice
  packages/core/src/components/button/button.tsx
Labels: bug, package/core

#284 feat(icons): add lock-open-outline icon
  packages/icons/svg/mdi/lock-open-outline.svg
Labels: package/icons, improvements

#286 docs: fix wrong command
  README.md
Labels: documentation

#289 chore(core): generate type file for icons
  .gitignore
  apps/docs/package.json
  package.json
  packages/core/package.json
  packages/core/src/icons.d.ts
  packages/icons/README.md
  packages/icons/package.json
  packages/icons/scripts/helpers.spec.ts
  packages/icons/scripts/helpers.ts
Labels: documentation, package/core, package/icons

#292 feat(icons): add jsm icon
  packages/core/src/icons.d.ts
  packages/icons/svg/custom/jsm-outline.svg
  packages/icons/svg/custom/jsm.svg
Labels: package/icons, improvements

#294 fix(icons): remove fill attribute for jsm icons
  apps/docs/.storybook/main.ts
  packages/icons/svg/custom/jsm-outline.svg
  packages/icons/svg/custom/jsm.svg
Labels: bug, package/icons

#296 feat(icons): add icon cash-back and leader-board
  package-lock.json
  packages/core/src/icons.d.ts
  packages/icons/svg/custom/cash-back.svg
  packages/icons/svg/custom/leader-board.svg
Labels: package/icons, improvements

#297 feat(core): add white color to button component
  packages/core/src/components/button/button.scss
  packages/core/src/components/button/button.tsx
  packages/core/src/components/button/stories/button.args.ts
  packages/core/src/components/button/stories/button.core.stories.tsx
  packages/core/src/components/button/stories/button.react.stories.tsx
  utils/storybook/preview.css
Labels: package/core, improvements
