Repository juntossomosmais/atomium, pull requests merged in 2024-05, with the labels that each got.

#432 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#431 fix(button): don't emit submit event in older browsers (webkit)
  packages/core/src/components/button/button.spec.ts
  packages/core/src/global/global.ts
  packages/core/src/polyfills/form-request-submit.js
Labels: bug

#440 fix(vue): fix problems to emit events in vue wrappers
  apps/docs-vue/.storybook/preview.ts
  packages/core/src/components/alert/stories/alert.args.ts
  packages/core/src/components/input/stories/input.args.ts
  packages/core/src/components/select/stories/select.args.ts
  packages/core/src/components/textarea/stories/textarea.args.ts
  packages/core/stencil.config.ts
  packages/vue/README.md
  packages/vue/src/plugin.ts
Labels: bug, package/vue

#441 feat(alert): add self contained close on alert
  packages/core/src/components/alert/alert.scss
  packages/core/src/components/alert/alert.spec.ts
  packages/core/src/components/alert/alert.tsx
  packages/core/src/components/alert/stories/alert.core.stories.tsx
  packages/core/src/components/alert/stories/alert.react.stories.tsx
  packages/core/src/components/alert/stories/alert.vue.stories.tsx
Labels: documentation, package/core, package/react, improvements, package/vue
