Repository juntossomosmais/atomium, pull requests merged in 2024-09, with the labels that each got.

#560 chore(deps): update dependencies
  package-lock.json
  package.json
Labels: dependencies

#566 fix(carousel): improve carousel lifecycle to avoid redundancy
  packages/core/src/components/carousel/carousel.tsx
Labels: package/core, improvements

#565 fix(select): add background to selected item and remove color's prop
  packages/core/src/components.d.ts
  packages/core/src/components/select/select.scss
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/stories/select.args.ts
  packages/core/src/components/select/stories/select.core.stories.tsx
  packages/core/src/components/select/stories/select.react.stories.tsx
  packages/core/src/components/select/stories/select.vue.stories.tsx
  packages/core/src/global/global.scss
Labels: bug, package/core

#549 feat(select): add badge in select options
  packages/core/src/components.d.ts
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/stories/select.core.stories.tsx
  packages/core/src/components/select/stories/select.react.stories.tsx
  packages/core/src/components/select/stories/select.vue.stories.tsx
  packages/core/src/components/tag/tag.spec.ts
  packages/core/src/components/tag/tag.tsx
Labels: package/core, improvements

#563 feat(modal): add options to disable buttons
  packages/core/src/components.d.ts
  packages/core/src/components/modal/modal.spec.ts
  packages/core/src/components/modal/modal.tsx
  packages/core/src/components/modal/stories/modal.args.ts
  packages/core/src/components/modal/stories/modal.core.stories.tsx
  packages/core/src/components/modal/stories/modal.react.stories.tsx
  packages/core/src/components/modal/stories/modal.vue.stories.tsx
Labels: package/core, improvements
