Repository juntossomosmais/atomium, pull requests merged in 2024-12, with the labels that each got.

#644 feat(icons): add new icon
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/sentiment-dissatisfied.svg
Labels: package/icons

#628 feat(component): create spinner component
  packages/core/src/components.d.ts
  packages/core/src/components/badge/stories/badge.react.stories.tsx
  packages/core/src/components/spinner/spinner.scss
  packages/core/src/components/spinner/spinner.spec.ts
  packages/core/src/components/spinner/spinner.tsx
  packages/core/src/components/spinner/stories/spinner.args.ts
  packages/core/src/components/spinner/stories/spinner.core.stories.tsx
  packages/core/src/components/spinner/stories/spinner.react.stories.tsx
  packages/core/src/components/spinner/stories/spinner.vue.stories.tsx
Labels: components

#648 feat(icon): add new icon add-circle-outline
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/add-circle-outline.svg
Labels: package/icons

#647 feat(pagination): create pagination component
  packages/core/src/components.d.ts
  packages/core/src/components/pagination/pagination.scss
  packages/core/src/components/pagination/pagination.spec.tsx
  packages/core/src/components/pagination/pagination.tsx
  packages/core/src/components/pagination/stories/pagination.args.ts
  packages/core/src/components/pagination/stories/pagination.core.stories.tsx
  packages/core/src/components/pagination/stories/pagination.react.stories.tsx
  packages/core/src/components/pagination/stories/pagination.vue.stories.tsx
Labels: package/core

#650 fix(pagination): edge case when count is equal a 1
  packages/core/src/components/pagination/pagination.spec.tsx
  packages/core/src/components/pagination/pagination.tsx
Labels: bug, package/core

#651 chore(deps): update dependencies
  package-lock.json
  package.json
Labels: dependencies

#632 feat(core)!: update stencil and ionic
  package-lock.json
  package.json
  packages/core/loader/cdn.js
  packages/core/loader/index.cjs.js
  packages/core/loader/index.d.ts
  packages/core/loader/index.es2017.js
  packages/core/loader/index.js
  packages/core/output-target/react-boolean.spec.ts
  packages/core/src/components.d.ts
  packages/core/src/components/carousel/carousel.tsx
  packages/core/src/components/icon/icon.tsx
  packages/core/src/components/input/input.tsx
  packages/core/src/components/select/select.tsx
  packages/core/src/components/textarea/textarea.tsx
  packages/core/src/components/tooltip/tooltip.spec.ts
  packages/core/src/global/global.scss
  packages/core/stencil.config.ts
Labels: package/core

#665 feat(icons): add pets icon
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/pets.svg
Labels: package/icons

#667 chore(deps): bump jest to v29
  package-lock.json
  package.json
Labels: dependencies

#669 feat(icons): add category, videogame and monetization icon
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/category.svg
  packages/icons/svg/mdi/monetization.svg
  packages/icons/svg/mdi/photo-camera.svg
  packages/icons/svg/mdi/videogame-asset.svg
Labels: package/icons

#678 chore(deps): update dev-dependencies
  package-lock.json
  package.json
Labels: dependencies
