Repository juntossomosmais/atomium, pull requests merged in 2024-04, with the labels that each got.

#411 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#414 fix(alert): remove wrong width on icon size
  packages/core/src/components/alert/alert.scss
Labels: bug, components

#416 feat(icons): add `login` and `messages` icons
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/login.svg
  packages/icons/svg/mdi/message-outline.svg
  packages/icons/svg/mdi/message-processing-outline.svg
  packages/icons/svg/mdi/message-processing.svg
  packages/icons/svg/mdi/message.svg
Labels: package/icons

#417 fix(button): adjust button slot align
  packages/core/src/components/button/button.scss
Labels: package/core, components

#419 feat(icons): add new icons
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/outline-person-blocked.svg
  packages/icons/svg/mdi/search-off.svg
Labels: package/icons
