Repository juntossomosmais/atomium, pull requests merged in 2024-06, with the labels that each got.

#446 feat(grid): add possibility to define padding
  packages/core/src/components/grid/grid.scss
  packages/core/src/components/grid/stories/grid.args.ts
  utils/scss/screens.scss
Labels: package/core, components, improvements

#459 feat(icons): add custom dollar circle
  packages/core/src/icons.d.ts
  packages/icons/README.md
  packages/icons/svg/custom/dollar-circle.svg
Labels: documentation, package/icons

#462 feat(carousel): improve accessibility using aria-disabled
  packages/core/src/components/carousel/carousel.scss
  packages/core/src/components/carousel/carousel.spec.ts
  packages/core/src/components/carousel/carousel.tsx
  packages/core/src/components/carousel/stories/carousel.args.ts
  packages/core/src/components/carousel/stories/carousel.core.stories.tsx
  packages/core/src/components/carousel/stories/carousel.react.stories.tsx
  packages/core/src/components/carousel/stories/carousel.vue.stories.tsx
Labels: documentation, package/core, components

#461 feat(list slider): add new component and remove swiper :pray:
  package-lock.json
  package.json
  packages/core/src/components.d.ts
  packages/core/src/components/_deprecated-carousel/README.md
  packages/core/src/components/_deprecated-carousel/carousel-item/carousel-item.scss
  packages/core/src/components/_deprecated-carousel/carousel-item/carousel-item.spec.ts
  packages/core/src/components/_deprecated-carousel/carousel-item/carousel-item.tsx
  packages/core/src/components/_deprecated-carousel/carousel.scss
  packages/core/src/components/_deprecated-carousel/carousel.spec.ts
  packages/core/src/components/_deprecated-carousel/carousel.tsx
  packages/core/src/components/_deprecated-carousel/utils/render-thumbs.spec.ts
  packages/core/src/components/_deprecated-carousel/utils/render-thumbs.ts
  packages/core/src/components/list-slider/list-slider-item/list-slider-item.scss
  packages/core/src/components/list-slider/list-slider-item/list-slider-item.tsx
  packages/core/src/components/list-slider/list-slider.scss
  packages/core/src/components/list-slider/list-slider.spec.ts
  packages/core/src/components/list-slider/list-slider.tsx
  packages/core/src/components/list-slider/stories/list-slider.args.ts
  packages/core/src/components/list-slider/stories/list-slider.core.stories.tsx
  packages/core/src/components/list-slider/stories/list-slider.css
  packages/core/src/components/list-slider/stories/list-slider.react.stories.tsx
  packages/core/src/components/list-slider/stories/list-slider.vue.stories.tsx
  packages/core/src/utils/.gitkeep
  packages/core/src/utils/debounce.ts
Labels: package/core, components

#468 fix(vue): convert just atom prefixed events to kebab case on install
  packages/vue/src/plugin.ts
Labels: bug, package/vue
