Repository juntossomosmais/atomium, pull requests merged in 2024-07, with the labels that each got.

#485 feat(core): remove apply polyfills for old browsers and update dependencies
  package-lock.json
  package.json
  packages/core/README.md
  packages/core/loader/cdn.js
  packages/core/loader/index.cjs.js
  packages/core/loader/index.d.ts
  packages/core/loader/index.es2017.js
  packages/core/loader/index.js
  packages/core/src/components.d.ts
  packages/core/stencil.config.ts
  packages/vue/src/plugin.ts
Labels: documentation, dependencies, package/core

#492 fix(core): downgrade @stencil/core to 4.17.2
  package-lock.json
  package.json
  packages/core/src/components.d.ts
  packages/core/src/icons.d.ts
Labels: dependencies, package/core

#496 fix(core): avoid to prev button hiding during loop
  packages/core/src/components.d.ts
  packages/core/src/components/carousel/carousel.tsx
Labels: bug, package/core, components

#498 feat(core): add dispatch event after transition end
  packages/core/src/components/carousel/carousel.tsx
  packages/core/src/components/carousel/stories/carousel.args.ts
  packages/core/src/components/list-slider/list-slider.tsx
  packages/core/src/components/list-slider/stories/list-slider.args.ts
Labels: package/core, components

#500 feat(icons): add watch-later icon mdi
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/watch-later-outline.svg
  packages/icons/svg/mdi/watch-later.svg
Labels: package/icons

#502 feat(component): create link component
  package-lock.json
  packages/core/loader/cdn.js
  packages/core/loader/index.cjs.js
  packages/core/loader/index.d.ts
  packages/core/loader/index.es2017.js
  packages/core/loader/index.js
  packages/core/src/components.d.ts
  packages/core/src/components/link/link.scss
  packages/core/src/components/link/link.spec.ts
  packages/core/src/components/link/link.tsx
  packages/core/src/components/link/stories/link.args.ts
  packages/core/src/components/link/stories/link.core.stories.tsx
  packages/core/src/components/link/stories/link.react.stories.tsx
  packages/core/src/components/link/stories/link.vue.stories.tsx
Labels: components

#503 feat(carousel): reset autoplay when click on navigation and stop during mouse enter
  packages/core/src/components/carousel/carousel.spec.ts
  packages/core/src/components/carousel/carousel.tsx
Labels: package/core

#507 docs: add alpha approach to test
  README.md
  packages/core/package.json
  packages/tokens/package.json
  utils/doc-images/add-alpha-to-package-json.png
  utils/doc-images/add-alpha-version-to-release-json.png
Labels: documentation

#508 feat(button): add new fill type to button and link loading
  package-lock.json
  packages/core/src/components.d.ts
  packages/core/src/components/button/button.scss
  packages/core/src/components/button/button.tsx
  packages/core/src/components/button/stories/button.args.ts
  packages/core/src/components/button/stories/button.core.stories.tsx
  packages/core/src/components/button/stories/button.react.stories.tsx
  packages/core/src/components/button/stories/button.vue.stories.tsx
  packages/core/src/components/link/link.scss
  packages/core/src/components/link/link.spec.ts
  packages/core/src/components/link/link.tsx
  packages/core/src/components/link/stories/link.args.ts
  packages/core/src/components/link/stories/link.core.stories.tsx
  packages/core/src/components/link/stories/link.react.stories.tsx
  packages/core/src/components/link/stories/link.vue.stories.tsx
Labels: package/core

#506 feat(icons): add icon instagram
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/instagram.svg
Labels: package/icons
