Repository juntossomosmais/atomium, pull requests merged in 2024-02, with the labels that each got.

#378 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#379 feat: add font size prop into icon component
  packages/core/src/components.d.ts
  packages/core/src/components/icon/icon.spec.ts
  packages/core/src/components/icon/icon.tsx
  packages/core/src/components/icon/stories/icon.args.ts
  packages/core/src/components/icon/stories/icon.core.stories.tsx
Labels: components, improvements

#385 fix(carousel): centralize the slide item content
  package-lock.json
  package.json
  packages/core/src/components.d.ts
  packages/core/src/components/badge/badge.scss
  packages/core/src/components/button/button.scss
  packages/core/src/components/carousel/carousel-item/carousel-item.scss
  packages/core/src/components/carousel/carousel-item/carousel-item.tsx
  packages/core/src/components/carousel/carousel.scss
  packages/core/src/components/carousel/carousel.tsx
  packages/core/src/components/carousel/stories/carousel.core.stories.tsx
  packages/core/src/components/carousel/stories/style.css
  packages/core/src/components/chip/chip.scss
  packages/core/src/components/grid/grid.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/select/select.scss
  packages/core/src/components/tag/tag.scss
  packages/core/src/components/textarea/textarea.scss
Labels: bug, components
