Repository juntossomosmais/atomium, pull requests merged in 2024-11, with the labels that each got.

#610 chore(deps): update dependencies
  package-lock.json
  package.json
Labels: dependencies

#611 fix(select): add async to method to avoid promise warning
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/stories/select.core.stories.tsx
  packages/core/src/components/select/stories/select.react.stories.tsx
  packages/core/src/components/select/stories/select.vue.stories.tsx
Labels: bug, package/core

#613 fix(container): add box-sizing: border-box to fix size
  packages/core/src/components/container/container.scss
Labels: bug, package/core

#618 fix(core): change ion-color-danger
  packages/core/src/global/global.scss
Labels: bug

#367 feat(component): add tooltip
  .stylelintrc.json
  apps/docs/stories/architecture-decision-records/0014-why-use-popperjs.stories.mdx
  package-lock.json
  package.json
  packages/core/src/components.d.ts
  packages/core/src/components/tooltip/stories/tooltip.args.ts
  packages/core/src/components/tooltip/stories/tooltip.core.stories.tsx
  packages/core/src/components/tooltip/stories/tooltip.react.stories.tsx
  packages/core/src/components/tooltip/stories/tooltip.vue.stories.tsx
  packages/core/src/components/tooltip/tooltip.scss
  packages/core/src/components/tooltip/tooltip.spec.ts
  packages/core/src/components/tooltip/tooltip.tsx
Labels: package/core, components, improvements

#621 feat(modal): change buttons props to be more declarative
  package-lock.json
  packages/core/src/components.d.ts
  packages/core/src/components/modal/modal.spec.ts
  packages/core/src/components/modal/modal.tsx
  packages/core/src/components/modal/stories/modal.args.ts
  packages/core/src/components/modal/stories/modal.core.stories.tsx
  packages/core/src/components/modal/stories/modal.react.stories.tsx
  packages/core/src/components/modal/stories/modal.vue.stories.tsx
  packages/core/src/components/steps-modal/steps-modal.spec.ts
  packages/core/src/components/steps-modal/steps-modal.tsx
  packages/core/src/components/steps-modal/stories/steps-modal.args.ts
  packages/core/src/components/steps-modal/stories/steps-modal.core.stories.tsx
  packages/core/src/components/steps-modal/stories/steps-modal.react.stories.tsx
  packages/core/src/components/steps-modal/stories/steps-modal.vue.stories.tsx
Labels: package/core, components

#622 feat(icons): add new discount-tag icon
  packages/core/src/icons.d.ts
  packages/icons/svg/custom/discount-tag.svg
Labels: package/icons, improvements

#624 feat(button): add custom color to color prop
  packages/core/src/components.d.ts
  packages/core/src/components/button/button.scss
  packages/core/src/components/button/button.tsx
  packages/core/src/components/button/stories/button.args.ts
  packages/core/src/components/button/stories/button.core.stories.tsx
  packages/core/src/components/button/stories/button.css
  packages/core/src/components/button/stories/button.react.stories.tsx
  packages/core/src/components/button/stories/button.vue.stories.tsx
Labels: package/core, components, improvements

#627 feat(atom-steps-modal): initial step feature
  package-lock.json
  packages/core/src/components.d.ts
  packages/core/src/components/steps-modal/steps-modal.spec.ts
  packages/core/src/components/steps-modal/steps-modal.tsx
  packages/core/src/components/steps-modal/stories/steps-modal.args.ts
  packages/core/src/components/steps-modal/stories/steps-modal.core.stories.tsx
  packages/core/src/components/steps-modal/stories/steps-modal.react.stories.tsx
  packages/core/src/components/steps-modal/stories/steps-modal.vue.stories.tsx
Labels: package/core, components, improvements
