Repository juntossomosmais/atomium, pull requests merged in 2024-10, with the labels that each got.

#588 feat(icons): add my-location icon
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/my-location.svg
Labels: package/icons

#591 fix(button): add white space property to not overflow text
  packages/core/src/components/button/button.scss
Labels: package/core, components

#593 feat(icons): add trolley and shopping bag icons
  packages/core/src/icons.d.ts
  packages/icons/svg/custom/shopping-bag-colorful.svg
  packages/icons/svg/custom/trolley-colorful.svg
Labels: package/icons

#595 feat(icon): add creditc card icon
  packages/core/src/icons.d.ts
  packages/icons/svg/custom/credit-card-colorful.svg
Labels: package/icons

#598 fix(input): dont remove eventlistener on blur/focus
  packages/core/src/components/input/input.tsx
Labels: bug, package/core, components
