Repository juntossomosmais/atomium, pull requests merged in 2025-01, with the labels that each got.

#683 feat(icons): add monetization outline
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/monetization-outline.svg
Labels: package/icons

#684 fix(core): increase priority of custom ionic css variables
  packages/core/src/components/alert/alert.scss
  packages/core/src/components/badge/badge.scss
  packages/core/src/components/breadcrumb/breadcrumb.scss
  packages/core/src/components/button/button.scss
  packages/core/src/components/carousel/carousel-item/carousel-item.scss
  packages/core/src/components/carousel/carousel.scss
  packages/core/src/components/chip/chip.scss
  packages/core/src/components/container/container.scss
  packages/core/src/components/grid/grid.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/link/link.scss
  packages/core/src/components/list-slider/list-slider-item/list-slider-item.scss
  packages/core/src/components/list-slider/list-slider.scss
  packages/core/src/components/modal/modal.scss
  packages/core/src/components/modal/modal.tsx
  packages/core/src/components/select/select.scss
  packages/core/src/components/steps-modal/steps-modal.scss
  packages/core/src/components/steps-modal/steps-modal.tsx
  packages/core/src/components/tag/tag.scss
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/components/tooltip/tooltip.scss
  packages/core/src/global/global.scss
  packages/core/src/icons.d.ts
  packages/core/stencil.config.ts
Labels: bug, package/core

#688 feat(icons): add shopping cart icon and cupom
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/cupom.svg
  packages/icons/svg/mdi/shopping-cart-outline.svg
Labels: package/icons

#690 chore(modal): remove modal workaround
  package-lock.json
  packages/core/src/components/modal/modal.spec.ts
  packages/core/src/components/modal/modal.tsx
  packages/core/src/components/modal/stories/modal.args.ts
  packages/core/src/icons.d.ts
Labels: documentation, improvements

#691 feat(icons): adding icons for new home component
  packages/core/src/icons.d.ts
  packages/icons/svg/mdi/bolt.svg
  packages/icons/svg/mdi/directions_car.svg
  packages/icons/svg/mdi/format_paint.svg
  packages/icons/svg/mdi/gavel.svg
  packages/icons/svg/mdi/handyman.svg
  packages/icons/svg/mdi/hardware.svg
  packages/icons/svg/mdi/park.svg
  packages/icons/svg/mdi/plumbing.svg
Labels: package/icons

#687 feat(datetime): add new component
  packages/core/src/components.d.ts
  packages/core/src/components/datetime/datetime.scss
  packages/core/src/components/datetime/datetime.spec.ts
  packages/core/src/components/datetime/datetime.tsx
  packages/core/src/components/datetime/stories/datetime.args.ts
  packages/core/src/components/datetime/stories/datetime.core.stories.tsx
  packages/core/src/components/datetime/stories/datetime.react.stories.tsx
  packages/core/src/components/datetime/stories/datetime.vue.stories.tsx
Labels: package/core, components, package/react, package/vue

#692 feat(divider): create new component
  packages/core/src/components.d.ts
  packages/core/src/components/divider/divider.scss
  packages/core/src/components/divider/divider.spec.ts
  packages/core/src/components/divider/divider.tsx
  packages/core/src/components/divider/stories/divider.args.ts
  packages/core/src/components/divider/stories/divider.core.stories.tsx
  packages/core/src/components/divider/stories/divider.react.stories.tsx
  packages/core/src/components/divider/stories/divider.vue.stories.tsx
Labels: components
