Repository juntossomosmais/atomium, pull requests merged in 2025-02, with the labels that each got.

#697 fix(select): prevent clicks on non-interactive elements inside ion-select to ensure correct popover size
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.tsx
Labels: bug, package/core

#695 feat(meter): create new component
  packages/core/src/components.d.ts
  packages/core/src/components/badge/stories/badge.vue.stories.tsx
  packages/core/src/components/meter/meter.scss
  packages/core/src/components/meter/meter.spec.ts
  packages/core/src/components/meter/meter.tsx
  packages/core/src/components/meter/stories/meter.args.tsx
  packages/core/src/components/meter/stories/meter.core.stories.tsx
  packages/core/src/components/meter/stories/meter.react.stories.tsx
  packages/core/src/components/meter/stories/meter.vue.stories.tsx
  packages/core/src/components/tooltip/tooltip.tsx
  packages/core/src/utils/screens.ts
Labels: components

#702 fix(carousel): enable previus click to back to index 0
  packages/core/src/components/carousel/carousel.spec.ts
  packages/core/src/components/carousel/carousel.tsx
Labels: bug

#701 fix(docs): update readme documentation
  README.md
Labels: documentation

#700 feat(modal): add can-dismiss property to control modal dismissal
  packages/core/src/components.d.ts
  packages/core/src/components/modal/modal.spec.ts
  packages/core/src/components/modal/modal.tsx
  packages/core/src/components/modal/stories/modal.args.ts
  packages/core/src/components/modal/stories/modal.core.stories.tsx
  packages/core/src/components/modal/stories/modal.react.stories.tsx
  packages/core/src/components/modal/stories/modal.vue.stories.tsx
Labels: components, improvements

#705 fix(docs): adjust tokens table doc
  packages/tokens/stories/2_Spacings.mdx
  packages/tokens/stories/3_Typography.mdx
  packages/tokens/stories/4_Screens.mdx
  packages/tokens/stories/5_Grid.mdx
  packages/tokens/stories/6_Misc.mdx
  packages/tokens/stories/7_Elevation.mdx
  packages/tokens/stories/components/Box.jsx
  packages/tokens/stories/components/Table.jsx
Labels: documentation

#708 fix(popover): adjust name component rich tooltip to popover
  packages/core/src/components/popover/popover.scss
  packages/core/src/components/popover/popover.spec.ts
  packages/core/src/components/popover/popover.tsx
  packages/core/src/components/popover/stories/popover.args.ts
  packages/core/src/components/popover/stories/popover.core.stories.tsx
  packages/core/src/components/popover/stories/popover.react.stories.tsx
  packages/core/src/components/popover/stories/popover.vue.stories.tsx
  packages/core/src/components/rich-tooltip/stories/rich-tooltip.vue.stories.tsx
Labels: components

#712 fix(atom-link): adjust prop size when type is button in atom-link
  packages/core/src/components.d.ts
  packages/core/src/components/link/link.spec.ts
  packages/core/src/components/link/link.tsx
Labels: components, improvements
