Repository juntossomosmais/atomium, pull requests merged in 2025-06, with the labels that each got.

#759 fix(core): include core css on exports
  packages/core/package.json
Labels: bug, package/core

#763 fix(core): stencil core update
  apps/docs-react/.storybook/preview.ts
  apps/docs-vue/.storybook/preview.ts
  apps/docs/.storybook/preview.ts
  package-lock.json
  package.json
  packages/core/loader/package.json
  packages/core/package.json
  packages/core/src/components.d.ts
Labels: bug

#767 fix(tooltip): use popper instance to get correct placement
  packages/core/src/components.d.ts
  packages/core/src/components/tooltip/stories/tooltip.args.ts
  packages/core/src/components/tooltip/tooltip.spec.ts
  packages/core/src/components/tooltip/tooltip.tsx
Labels: package/core, components

#769 chore(scss): use rupture from @juntossomosmais/rupture-scss
  package-lock.json
  package.json
  packages/core/stencil.config.ts
  utils/scss/index.scss
  utils/scss/rupture.scss
  utils/scss/screens.scss
Labels: dependencies
